services:
  nsd:
    image: dns_nsd
    build:
      context: dns
      dockerfile: nsd/Dockerfile
      args:
        - ipv4_internal_iprange=${INTERNAL_IPRANGE}
        - ipv4_nsd_internal_addr=${NSD_INTERNAL_IPADDRESS}
    container_name: dns-nsd
    hostname: nsd.ns.localdomain
    networks:
      dev-internal:
        ipv4_address: "${NSD_INTERNAL_IPADDRESS}"
  unbound:
    image: dns_unbound
    build:
      context: dns
      dockerfile: unbound/Dockerfile
      args:
        - ipv4_internal_iprange=${INTERNAL_IPRANGE}
        - ipv4_unbound_internal_addr=${UNBOUND_INTERNAL_IPADDRESS}
        - ipv4_nsd_internal_addr=${NSD_INTERNAL_IPADDRESS}
        - dns_primary=${DNS_PRIMARY}
        - dns_secondary=${DNS_SECONDARY}
    container_name: dns-unbound
    hostname: unbound.ns.localdomain
    networks:
      default:
        ipv4_address: "${UNBOUND_EXTERNAL_IPADDRESS}"
      dev-internal:
        ipv4_address: "${UNBOUND_INTERNAL_IPADDRESS}"
    ports:
      - 127.0.0.1:53:53
      - 127.0.0.1:53:53/udp
  ca:
    image: certificate_authority
    build:
      context: ca
      dockerfile: Dockerfile
    container_name: certificate-authority
    hostname: internal.ca.localdomain
    env_file:
      - ca/.env
    secrets:
      - ca_secret
    volumes:
      - "${VOLUME_PREFIX}/ca/root:/etc/ssl/root_ca:rw"
      - "${VOLUME_PREFIX}/ca/intermediate:/etc/ssl/inter_ca:rw"
    networks:
      dev-internal:
        ipv4_address: "${CA_INTERNAL_IPADDRESS}"
  nginx:
    image: reverse_proxy
    build:
      context: reverse_proxy
      dockerfile: Dockerfile
    container_name: reverse-proxy
    hostname: www.localdomain
    volumes:
      - "${VOLUME_PREFIX}/reverse_proxy/ssl/private:/etc/ssl/private:rw"
      - "${VOLUME_PREFIX}/reverse_proxy/ssl/certs:/etc/ssl/certs/user:rw"
      - "${VOLUME_PREFIX}/reverse_proxy/nginx:/etc/nginx:rw"
    networks:
      default:
        ipv4_address: "${REVERSE_PROXY_EXTERNAL_IPADDRESS}"
      dev-internal:
        ipv4_address: "${REVERSE_PROXY_INTERNAL_IPADDRESS}"
    ports:
      - 127.0.0.1:80:80
      - 127.0.0.1:443:443
      - 127.0.0.1:2560-2561:2560-2561

networks:
  default:
    driver: bridge
    internal: false
    ipam:
      driver: default
      config:
        - subnet: "${EXTERNAL_IPRANGE}"
          gateway: "${EXTERNAL_GATEWAY}"
  dev-internal:
    driver: bridge
    name: "${INTERNAL_NETWORK_NAMAE}"
    internal: false
    ipam:
      driver: default
      config:
        - subnet: "${INTERNAL_IPRANGE}"
          gateway: "${INTERNAL_GATEWAY}"

secrets:
  ca_secret:
    file: ca/.secret
